<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
 		xmlns="http://java.sun.com/xml/ns/javaee" 
 		xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
 		xsi:schemaLocation="http://java.sun.com/xml/ns/javaee 
 							http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
 							id="WebApp_ID" version="2.5">
	 <display-name>Posts</display-name>
  	 <context-param>
	    <param-name>contextConfigLocation</param-name>
	    <param-value>
	       	/WEB-INF/posts-servlet.xml    
	    </param-value>
	</context-param>

	
	<listener>
	    <listener-class>org.springframework.web.context.ContextLoaderListener</listener-class>
	</listener>
	<!-- 
	<listener>
	    <listener-class>org.springframework.web.context.request.RequestContextListener</listener-class>
	</listener>
	<listener>
	    <listener-class>org.springframework.security.web.session.HttpSessionEventPublisher</listener-class>
	</listener>
	 -->
    <servlet>
      <servlet-name>posts</servlet-name>
      <servlet-class>org.springframework.web.servlet.DispatcherServlet</servlet-class>
      <load-on-startup>1</load-on-startup>
    </servlet>
    
	
    <servlet-mapping>
      <servlet-name>posts</servlet-name>
      <url-pattern>*.html</url-pattern>
    </servlet-mapping>
  
    <servlet-mapping>
      <servlet-name>default</servlet-name>
      <url-pattern>*.png</url-pattern>
    </servlet-mapping>
  
    <servlet-mapping>
      <servlet-name>default</servlet-name>
      <url-pattern>*.jpg</url-pattern>
    </servlet-mapping>
  
    <servlet-mapping>
      <servlet-name>default</servlet-name>
      <url-pattern>*.gif</url-pattern>
    </servlet-mapping>
  
    <servlet-mapping>
      <servlet-name>default</servlet-name>
      <url-pattern>*.txt</url-pattern>
    </servlet-mapping>
  
    <servlet-mapping>
      <servlet-name>default</servlet-name>
      <url-pattern>*.txt</url-pattern>
    </servlet-mapping>
  
    <servlet-mapping>
      <servlet-name>default</servlet-name>
      <url-pattern>*.js</url-pattern>
    </servlet-mapping>
  
   <servlet-mapping>
      <servlet-name>default</servlet-name>
      <url-pattern>*.ico</url-pattern>
    </servlet-mapping>
    
    <servlet-mapping>
      <servlet-name>default</servlet-name>
      <url-pattern>*.css</url-pattern>
    </servlet-mapping>
	
    <servlet-mapping>
      <servlet-name>default</servlet-name>
      <url-pattern>*.less</url-pattern>
    </servlet-mapping>
 <welcome-file-list>
 	<welcome-file>index.jsp</welcome-file>
 </welcome-file-list>
</web-app>